<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Authentication</title>
    <link rel="stylesheet" href="public/LogIn.css" type="text/css"/>
    <script src="public/login.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="login">
    <div class="block">
        <form id="sessionCreate" action="/api/tokens" method="post">
            <input id="username" placeholder="UserName" type="text"/>
            <input id="password" placeholder="password" type="password"/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>