<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Authentication</title>
    <link rel="stylesheet" type="text/css" href="public/SignIn.css"/>
    <script src="public/signin.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="signIn">
    <div class="block">
        <form id="accountCreate" method="post" action="/api/users">


                
                <input id="username" placeholder="UserName" type="text"/>
         
    

             
                <input id="email" placeholder="Email" type="email"/>


              
                <input id="password" placeholder="Password" type="password"/>
                
        
                <a href="login">LogIn</a>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>